<div class="container">
  <h1 class="text-center">
    {{title}}
  </h1>
  <div *ngFor="let service of services" class="container py-3">
    <div class="card">
      <div class="row ">
        <div class="col-md-4">
          <img src="{{service.src}}" class=" img-fluid w-100 h-100 p-2">
        </div>
        <div class="col-md-8 px-3">
          <div class="card-block px-3">
            <h4 class="card-title"> {{service.title}}</h4>
            <p *ngIf="service.text" class="card-text">{{service.text}} </p>
            <p *ngIf="service.sub" class="card-text">{{service.sub}} </p>
            <ul *ngIf="service.list">
              <li *ngFor="let item of service.list">
                {{item}}
              </li>
            </ul>
            <a href="#" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>